<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApiUrl</key>
	<dict>
		<key>Local</key>
		<string>http://0.0.0.0:3000/api/</string>
		<key>Staging</key>
		<string>https://picksapp-api-staging.mybluemix.net/api/</string>
		<key>Stable</key>
		<string>https://api.baseapp.tsl.io/v3/</string>
		<key>Production</key>
		<string>https://api.baseapp.tsl.io/v4/</string>
	</dict>
	<key>Facebook</key>
	<dict>
		<key>Local</key>
		<dict>
			<key>AppId</key>
			<string>688140104715165</string>
			<key>RedirectUri</key>
			<string>https://app.baseapp.tsl.io/</string>
		</dict>
		<key>Staging</key>
		<dict>
			<key>AppId</key>
			<string>688140104715165</string>
			<key>RedirectUri</key>
			<string>https://app.baseapp.tsl.io/</string>
		</dict>
		<key>Stable</key>
		<dict>
			<key>AppId</key>
			<string>688140104715165</string>
			<key>RedirectUri</key>
			<string>https://app.baseapp.tsl.io/</string>
		</dict>
		<key>Production</key>
		<dict>
			<key>AppId</key>
			<string>1403638353031095
1403638353031095
1403638353031095</string>
			<key>RedirectUri</key>
			<string>https://app.baseapp.tsl.io/</string>
		</dict>
	</dict>
	<key>LinkedIn</key>
	<dict>
		<key>Local</key>
		<dict>
			<key>AppId</key>
			<string>781ehwqhni34oe</string>
			<key>RedirectUri</key>
			<string>https://app.baseapp.tsl.io/</string>
		</dict>
		<key>Staging</key>
		<dict>
			<key>AppId</key>
			<string>781ehwqhni34oe</string>
			<key>RedirectUri</key>
			<string>https://app.baseapp.tsl.io/</string>
		</dict>
		<key>Stable</key>
		<dict>
			<key>AppId</key>
			<string>781ehwqhni34oe</string>
			<key>RedirectUri</key>
			<string>https://app.baseapp.tsl.io/</string>
		</dict>
		<key>Production</key>
		<dict>
			<key>AppId</key>
			<string>781ehwqhni34oe</string>
			<key>RedirectUri</key>
			<string>https://app.baseapp.tsl.io/</string>
		</dict>
	</dict>
	<key>Twitter</key>
	<dict>
		<key>Local</key>
		<dict>
			<key>RedirectUri</key>
			<string>https://app.baseapp.tsl.io/</string>
		</dict>
		<key>Staging</key>
		<dict>
			<key>RedirectUri</key>
			<string>https://app.baseapp.tsl.io/</string>
		</dict>
		<key>Stable</key>
		<dict>
			<key>RedirectUri</key>
			<string>https://app.baseapp.tsl.io/</string>
		</dict>
		<key>Production</key>
		<dict>
			<key>RedirectUri</key>
			<string>https://app.baseapp.tsl.io/</string>
		</dict>
	</dict>
	<key>FeedbackEmailAddress</key>
	<string>info@tsl.io</string>
</dict>
</plist>
